[user]
	name = Javier
	email = 51163175+jfa94@users.noreply.github.com 
[core]
	autocrlf = input
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
[init]
	defaultBranch = main
